/backend/vendor/
/backend/.env
/backend/storage/*.key
/backend/storage/logs/*.log
/frontend/node_modules/
/frontend/.nuxt/
/frontend/.output/
/.idea/
/.vscode/
/backend/database/database.sqlite
tools/lenta-session-refresh/node_modules/
lenta.txt
/.tmp/